<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <!-- app container -->
  <div
    class="flex-display flex-column-flow flex-align-center base-app-container y-scroll">
    <div
      class="full-width flex-display flex-column-flow flex-center flex-align-center"
      style="margin-top: 10px; margin-bottom: 20px">
      <h1 id="heading">JSON Formatter</h1>
      <h2 id="heading2">Online JSON Beautifier</h2>
    </div>

    <div
      class="flex-display flex-row-flow flex-align-center token-area-container full-width"
      style="margin-bottom: 10px">
      <div
        class="flex-display flex-column-flow encoded-token-field token-parent-div">
        <div class="flex-display flex-row-flow flex-align-center">
          <span class="div-label" style="margin-bottom: 5px; margin-right: 5px"
            >Unformatted JSON</span
          >
          <span>(Paste JSON Here)</span>
        </div>
        <div
          #rawJsonDiv
          class="token-area-class encoded-token-field y-scroll full-height full-width"
          contentEditable="true"
          (input)="rawJsonChange()"
          (paste)="onJsonPaste($event)"
          style="color: indigo">
          <span></span>
        </div>

        <div
          class="flex-display flex-row-flow"
          *ngIf="!isJsonValid"
          style="margin-top: 10px">
          <mat-icon color="warn" style="transform: scale(2); margin-right: 15px"
            >error</mat-icon
          >
          <span class="header-font" style="color: red"
            >json string is invalid</span
          >
        </div>
      </div>
      <div class="flex-display flex-column-flow token-parent-div">
        <span class="div-label" style="margin-bottom: 5px">Formatted JSON</span>
        <div
          #formattedJsonDiv
          class="token-area-class y-scroll full-height full-width"
          contenteditable="true"
          style="color: deeppink">
          <pre>{{ formattedJson }}</pre>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      (click)="copyFormattedJson()"
      color="primary"
      style="
        margin-right: 50px;
        margin-bottom: 10px;
        padding: 10px;
        align-self: flex-end;
      ">
      <mat-icon>content_copy</mat-icon> Copy Formatted JSON
    </button>

    <div class="flex-display flex-column-flow" style="width: 90%">
      <h3 style="font-weight: bold">How to use JSON Formatter/Beautifier ?</h3>
      <ul>
        <li>
          Paste unformatted/minified json string in unformatted JSON block and
          json will be formatted automatically.
        </li>
        <li>JSON formatting is being done locally in browser only.</li>
      </ul>
    </div>

    <!-- tags div -->
    <div
      style="margin: 10px; flex-wrap: wrap"
      class="flex-display flex-row-flow flex-center">
      <p class="tag-class" *ngFor="let tag of tags">
        {{ tag }}
      </p>
    </div>

    <div
      class="flex-display flex-row-flow flex-center flex-align-center"
      style="margin-bottom: 10px">
      <span style="margin-right: 10px; font-style: italic">Follow -</span>
      <a
        href="https://www.linkedin.com/company/webtoolseasy/"
        target="_blank"
        style="margin-right: 20px">
        <mat-icon svgIcon="linkedin-icon"></mat-icon
      ></a>
      <a
        href="https://www.facebook.com/people/Webtoolseasy/100088911459047/"
        target="_blank">
        <mat-icon svgIcon="facebook-icon"></mat-icon
      ></a>
    </div>
  </div>
</div>
