.div-label {
  font-size: large;
}

.text-area-div {
  width: 47%;
  height: 30em;
  font-size: larger;
}

.text-content-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.text-area-container {
  justify-content: space-around;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.copy-button {
  justify-content: flex-end;
}

ngx-json-viewer .ngx-json-viewer {
  overflow-y: scroll;
}

@media screen and (max-width: 735px) {
  .text-area-div {
    height: 10em;
    width: 80%;
  }

  .text1-area-margin {
    margin-bottom: 20px;
  }

  .text-area-container {
    flex-direction: column;
  }

  // .text-content-div {
  //   font-size: larger;
  // }
  .copy-button {
    justify-content: center;
  }
}