<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <div
    class="y-scroll no-x-scroll flex-full-height flex-display flex-column-flow">
    <div
      class="base-app-container flex-display flex-column-flow flex-full-height">
      <!--web tool headings-->
      <app-tool-heading></app-tool-heading>

      <!-- password generator container -->
      <div class="flex-display flex-column-flow flex-align-center uuid-app">
        <h2 id="heading2">Your Random Secure Password</h2>
        <!-- generate password -->
        <div
          class="flex-display flex-row-flow flex-center flex-align-center uid-div"
          style="margin-bottom: 20px">
          <div
            class="uuid-container flex-display flex-row-flow flex-align-center">
            <span
              class="uuid-class"
              style="color: #ff4081; margin-right: 10px"
              >{{
                passwordVisibility ? password : getEncryptedPassword(password)
              }}</span
            >
            <mat-icon
              *ngIf="passwordVisibility"
              (click)="togglePassVisibility()"
              color="primary"
              >visibility</mat-icon
            >
            <mat-icon
              *ngIf="!passwordVisibility"
              (click)="togglePassVisibility()"
              color="primary"
              >visibility_off</mat-icon
            >
          </div>
        </div>

        <div
          class="flex-display flex-row-flow flex-align-center flex-center button-controls"
          style="margin-bottom: 20px">
          <button
            mat-stroked-button
            (click)="copyGeneratedPassword()"
            color="primary"
            class="copy-button">
            <mat-icon>content_copy</mat-icon> Copy Password
          </button>

          <button
            mat-stroked-button
            color="primary"
            (click)="generatePassword()">
            <mat-icon>repeat</mat-icon>
            Generate Password Again
          </button>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center flex-center"
          style="margin-top: 15px; margin-bottom: 20px">
          <div style="font-size: medium; font-weight: 700; margin-bottom: 15px">
            Generator Options
          </div>
          <div
            class="flex-display flex-row-flow flex-align-center flex-center generator-options">
            <mat-form-field appearance="outline">
              <mat-label>Password Length</mat-label>
              <input
                #passwordLengthInput
                type="number"
                matInput
                placeholder="Max 30"
                value="12"
                min="5"
                max="30"
                (change)="handlePasswordLengthChange($event)" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Excluded Characters</mat-label>
              <input
                type="string"
                matInput
                placeholder="Enter characters to exclude"
                [value]="options.exclude"
                (change)="handleExcludedCharsChange($event)" />
            </mat-form-field>

            <section
              style="margin-bottom: 10px"
              class="flex-display generator-options">
              <mat-checkbox
                (change)="generatorOptionChange($event, 'numbers')"
                [checked]="options.numbers"
                >Numbers</mat-checkbox
              >
              <mat-checkbox
                (change)="generatorOptionChange($event, 'symbols')"
                [checked]="options.symbols"
                >Symbols</mat-checkbox
              >
              <mat-checkbox
                (change)="generatorOptionChange($event, 'lowercase')"
                [checked]="options.lowercase"
                >Lowercase</mat-checkbox
              >
              <mat-checkbox
                (change)="generatorOptionChange($event, 'uppercase')"
                [checked]="options.uppercase"
                >Uppercase</mat-checkbox
              >
            </section>
          </div>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center"
          style="margin-bottom: 10px">
          <span style="margin-bottom: 15px; font-size: large" class="bold-text"
            >Bulk Password Generator</span
          >
          <mat-form-field appearance="outline">
            <mat-label>Enter Password Count</mat-label>
            <input
              #bulkPasswordInput
              type="number"
              matInput
              placeholder="Max 1000"
              value="5"
              min="5"
              max="1000" />
            <button
              mat-raised-button
              matTextSuffix=""
              aria-label="Clear"
              (click)="generateBulkPasswords()">
              Generate
            </button>
          </mat-form-field>
          <span *ngIf="bulkPasswordError" style="color: red"
            >*Max allowed value is 1000</span
          >
          <a href="#" (click)="downloadPasswords($event)">Download to a file</a>
        </div>

        <div
          class="flex-display flex-column-flow flex-center flex-align-center bulk-uuids y-scroll"
          style="max-height: 200px"
          *ngIf="passwordList.length > 0">
          <span *ngFor="let password of passwordList">
            {{ getEncryptedPassword(password) }}
          </span>
        </div>
      </div>

      <!-- related tools -->
      <app-related-tools class="full-width"></app-related-tools>

      <!-- description -->
      <app-description class="full-width"></app-description>

      <!-- tags div -->
      <app-tags></app-tags>

      <!-- share buttons -->
      <app-share-buttons></app-share-buttons>
    </div>
    <app-footer></app-footer>
  </div>
</div>
