.file-drop-area {
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumbnail {
  height: 150px;
  width: 150px;
}

.thumbnail-container {
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.cropper-container {
  height: 500px;
  justify-content: space-between;
}

.cropped-box {
  width: 45%;
  border-radius: 10px;
}
