.file-drop-area {
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumbnail-container {
  width: 198px;
  height: 244px;
  padding: 5px;
}

.cropped-box {
  width: 45%;
  border-radius: 10px;
}

@media screen and (min-width: 735px) {
  .cropper-container {
    max-height: 500px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 735px) {
  .cropper-container {
    max-height: 800px;
    flex-direction: column;
    gap: 15px;
  }
  .cropped-box {
    width: 100%;
  }
}
