<div class="flex-display flex-column-flow flex-align-center flex-gap-xlarge">
  <!-- file imput -->
  <input
    #inputFiles
    type="file"
    style="display: none"
    multiple
    (change)="selectFiles($event)"
    [accept]="validImageFormats" />

  <!-- file drop area -->
  <div
    class="flex-display flex-column-flow flex-center flex-align-center border-grey full-width flex-gap-medium file-drop-area"
    (drop)="dropHandler($event)"
    (dragover)="dragOverHandler($event)"
    *ngIf="fileList.length === 0">
    <mat-icon style="transform: scale(2)">collections</mat-icon>
    <span class="header-font" style="font-size: large"
      >Drag & drop files here</span
    >
    <span class="header-font" style="font-size: large">or</span>

    <button
      mat-stroked-button
      color="primary"
      (click)="openFileDialog()"
      matTooltip="select images to compress">
      <mat-icon>file_upload</mat-icon>Browse For Files
    </button>
  </div>

  <div
    class="flex-display flex-row-flow full-width"
    style="justify-content: end"
    *ngIf="fileList.length > 0">
    <button
      mat-stroked-button
      color="primary"
      (click)="openFileDialog()"
      matTooltip="select images to compress">
      <mat-icon>file_upload</mat-icon>Upload More Images
    </button>
  </div>

  <div
    class="flex-display flex-row-flow full-width"
    *ngIf="fileList.length > 0">
    <span class="header-font" style="font-size: large">Uploaded Images</span>
  </div>

  <div
    class="flex-display flex-column-flow full-width flex-gap-medium"
    *ngIf="fileList.length > 0">
    <div
      class="flex-display flex-row-flow flex-align-center full-width flex-gap-large auto-scroll">
      <div
        class="flex-display flex-column-flow flex-center border-grey shadow-grey thumbnail-container pointer-cursor"
        *ngFor="let imageFile of fileList"
        (click)="selectCurrentFile(imageFile.id)">
        <img
          mat-card-image
          src="{{ imageFile?.dataURI }}"
          alt="selected image for crop" />
        <div class="full-width flex-display flex-row-flow flex-center">
          <span>{{ imageFile?.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-display flex-row-flow full-width" *ngIf="currentFile">
    <span class="header-font" style="font-size: large">Crop & Preview</span>
  </div>

  <div
    *ngIf="currentFile"
    class="flex-display flex-row-flow flex-align-center full-width cropper-container">
    <div
      class="flex-display flex-column-flow flex-center cropped-box border-grey"
      #imageCropper
      style="padding: 5px">
      <image-cropper
        [imageFile]="currentFile.file"
        [maintainAspectRatio]="false"
        [format]="outputFormat"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
        (cropperReady)="cropperReady()"
        style="max-height: 100%; max-width: 100%"></image-cropper>
    </div>

    <div
      #croppedImageContainer
      class="flex-display flex-column-flow cropped-box border-grey"
      style="
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 5px;
        padding-right: 5px;
      ">
      <img
        #croppedImageTag
        src="{{ croppedImage }}"
        alt="cropped image"
        style="max-width: 100%" />
    </div>
  </div>

  <div
    class="flex-display flex-row-flow full-width"
    style="justify-content: end"
    *ngIf="currentFile">
    <button
      mat-stroked-button
      color="primary"
      (click)="downloadCroppedImage()"
      matTooltip="select images to compress">
      <mat-icon>file_download</mat-icon>Download Image
    </button>
  </div>
</div>
