.base-app-container {
  padding: 10px;
}

.icon-div {
  height: 300px;
}

.icon-div mat-icon {
  transform: scale(10);
}

.timer {
  margin-top: 20px;
  font-size: xx-large;
  color: red;
}

.tag-class {
  margin: 5px;
  background: #e0e0e0;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.error {
  color: red;
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

.description {
  margin-top: 20px;
}

@media screen and (min-width: 735px) {
  .description {
    width: 70%;
  }
}

@media screen and (max-width: 735px) {
  .icon-div {
    height: 150px;
  }
  .icon-div mat-icon {
    transform: scale(5);
  }
  .timer {
    font-size: x-large;
  }
  .recoder-options {
    flex-direction: column;
  }
  .error {
    font-size: small;
  }
  .description {
    width: 100%;
  }
}