<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <!-- app container -->
  <div
    class="flex-display flex-column-flow flex-align-center base-app-container y-scroll">
    <!--web tool headings-->
    <app-tool-heading></app-tool-heading>

    <div
      class="flex-display flex-column-flow flex-align-center full-width"
      style="margin-bottom: 20px">
      <div
        class="flex-display flex-column-flow flex-center flex-align-center full-width icon-div">
        <mat-icon svgIcon="screen-icon"></mat-icon>
      </div>

      <span *ngIf="!isSupported" class="error"
        >screen capturing is not supported by host browser</span
      >

      <section
        style="margin-bottom: 10px"
        class="flex-display recoder-options"
        *ngIf="isSupported">
        <mat-checkbox (change)="recorderOptionChange($event, 'mic-audio')"
          >include mic audio</mat-checkbox
        >
        <mat-checkbox (change)="recorderOptionChange($event, 'camera-video')"
          >include camera video</mat-checkbox
        >
      </section>

      <button
        mat-raised-button
        aria-label="start recording button"
        *ngIf="!isRecording && !isProcessingStream && isSupported"
        color="primary"
        (click)="startRecording()">
        <mat-icon>play_arrow</mat-icon> Start Recording
      </button>
      <button
        mat-raised-button
        aria-label="stop recording button"
        *ngIf="isRecording && !isProcessingStream && isSupported"
        color="warn"
        (click)="stopRecording()">
        <mat-icon>stop</mat-icon> Stop Recording
      </button>

      <span #timer class="timer" *ngIf="isSupported">00:00</span>

      <div
        class="flex-display flex-row-flow flex-align-center"
        *ngIf="isProcessingStream">
        <mat-spinner
          color="primary"
          style="margin-right: 10px"
          diameter="30"></mat-spinner>
        <span class="bold-text">preparing video file to download</span>
      </div>

      <div class="flex-display flex-column-flow description">
        <h3 style="font-weight: bold">How to use screen recorder</h3>
        <div style="margin-left: 30px">
          <p>
            1. To include mic audio & camera video in the recorded video, use
            checkboxes
          </p>
          <p>2. Start screen recording using start recording button</p>
          <p>3. When asked for mic & camera permission then provide the same</p>
          <p>
            4. Camera video if included will appear at bottom right corner in
            the recorded video in 150X150 px box
          </p>
          <p>
            5. Screen recording can be stopped via native stop recording button
            or use stop recording button on the screen (button will appear once
            recording starts)
          </p>
          <p>
            6. Once recording is stopped then recorded video will be downloaded
            automatically
          </p>
        </div>
        <h3 style="font-weight: bold">Features</h3>
        <div style="margin-left: 30px">
          <p>1. Screen recording is 100% free</p>
          <p>2. Unlimited screen recording in HD format</p>
          <p>3. Record screen with camera video & mic audio</p>
          <p>4. No watermark in recorded video</p>
          <p>5. No software installation is needed to record screen</p>
          <p>
            6. Screen recording is 100% secure as whole processing is being done
            at client side only (in host browser)
          </p>
        </div>
      </div>
    </div>

    <!-- tags div -->
    <app-tags></app-tags>
  </div>
</div>
