<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      aria-label="app icon button"
      [replaceUrl]="true"
      routerLink="/tools">
      <mat-icon svgIcon="app-icon" class="app-icon"></mat-icon>
    </button>
    <div
      class="flex-display flex-row-flow flex-align-center flex-full-height app-name">
      <span class="header-font">WebToolsEasy</span>
    </div>
    <button
      mat-icon-button
      aria-label="home icon button"
      [replaceUrl]="true"
      routerLink="/tools">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>

  <!-- app container -->
  <div
    class="flex-display flex-column-flow flex-align-center base-app-container y-scroll">
    <div
      class="full-width flex-display flex-column-flow flex-center flex-align-center"
      style="margin-top: 10px">
      <h1 id="heading">Screen Recorder</h1>
      <h2 id="heading2">Free Online Screen Recorder</h2>
    </div>

    <div
      class="flex-display flex-column-flow flex-align-center full-width"
      style="margin-bottom: 20px">
      <div
        class="flex-display flex-column-flow flex-center flex-align-center full-width icon-div">
        <mat-icon svgIcon="screen-icon"></mat-icon>
      </div>

      <span *ngIf="!isSupported" class="error"
        >screen capturing is not supported by host browser</span
      >

      <section
        style="margin-bottom: 10px"
        class="flex-display recoder-options"
        *ngIf="isSupported">
        <mat-checkbox (change)="recorderOptionChange($event, 'mic-audio')"
          >include mic audio</mat-checkbox
        >
        <mat-checkbox (change)="recorderOptionChange($event, 'camera-video')"
          >include camera video</mat-checkbox
        >
      </section>

      <!-- <mat-form-field appearance="outline" color="primary">
        <mat-label>Output Video Format</mat-label>
        <mat-select disableRipple [(value)]="videoFileExtention">
          <mat-option value="webm">WebM</mat-option>
          <mat-option value="mp4">MP4</mat-option>
        </mat-select>
      </mat-form-field> -->

      <button
        mat-raised-button
        aria-label="start recording button"
        *ngIf="!isRecording && !isProcessingStream && isSupported"
        color="primary"
        (click)="startRecording()">
        <mat-icon>play_arrow</mat-icon> Start Recording
      </button>
      <button
        mat-raised-button
        aria-label="stop recording button"
        *ngIf="isRecording && !isProcessingStream && isSupported"
        color="warn"
        (click)="stopRecording()">
        <mat-icon>stop</mat-icon> Stop Recording
      </button>

      <span #timer class="timer" *ngIf="isSupported">00:00</span>

      <div
        class="flex-display flex-row-flow flex-align-center"
        *ngIf="isProcessingStream">
        <mat-spinner
          color="primary"
          style="margin-right: 10px"
          diameter="30"></mat-spinner>
        <span class="bold-text">preparing video file to download</span>
      </div>
    </div>

    <!-- tags div -->
    <div
      style="margin: 10px; flex-wrap: wrap"
      class="flex-display flex-row-flow flex-center">
      <p class="tag-class" *ngFor="let tag of tags">
        {{ tag }}
      </p>
    </div>

    <div
      class="flex-display flex-row-flow flex-center flex-align-center"
      style="margin-bottom: 10px">
      <span style="margin-right: 10px; font-style: italic">Follow -</span>
      <a
        href="https://www.linkedin.com/company/webtoolseasy/"
        target="_blank"
        style="margin-right: 20px">
        <mat-icon svgIcon="linkedin-icon"></mat-icon
      ></a>
      <a
        href="https://www.facebook.com/people/Webtoolseasy/100088911459047/"
        target="_blank">
        <mat-icon svgIcon="facebook-icon"></mat-icon
      ></a>
    </div>
  </div>
</div>
