<div
  class="flex-display flex-column-flow flex-align-center full-width flex-gap-large qr-app-container">
  <span style="align-self: flex-start; font-size: large"
    >QR Text (Free Text)</span
  >
  <form class="full-width full-height">
    <mat-form-field appearance="outline" class="full-width full-height">
      <textarea
        matInput
        placeholder="Enter text here to count..."
        style="height: 80px"
        (input)="onTextChange($event)"
        value="{{ qrText }}"></textarea>
    </mat-form-field>
  </form>
  <canvas #qrCanvas></canvas>

  <div
    class="flex-display full-width flex-center flex-gap-medium"
    style="flex-wrap: wrap">
    <button
      mat-stroked-button
      matTextSuffix=""
      aria-label="copy as string button"
      (click)="copySVG()"
      color="accent">
      Copy SVG
    </button>
    <button
      mat-stroked-button
      matTextSuffix=""
      aria-label="copy as jpg button"
      (click)="downloadImage('jpeg')"
      color="accent">
      Download JPG
    </button>
    <button
      mat-stroked-button
      matTextSuffix=""
      aria-label="copy as png button"
      (click)="downloadImage('png')"
      color="accent">
      Download PNG
    </button>
    <button
      mat-stroked-button
      matTextSuffix=""
      aria-label="copy as webp button"
      (click)="downloadImage('webp')"
      color="accent">
      Download WEBP
    </button>
  </div>
</div>
