.div-label {
  font-size: large;
}

.text-area-div {
  width: 49%;
  height: 40em;
}

.text-area-container {
  justify-content: space-between;
}

.copy-button {
  justify-content: flex-end;
}

@media screen and (max-width: 735px) {
  .text-area-div {
    height: 25em;
    width: 100%;
  }
  .text-area-container {
    flex-direction: column;
    gap: 15px;
  }
}
