<div
  class="footer-container full-width flex-display flex-row-flow flex-align-center">
  <div class="flex-display flex-row-flow icon-div">
    <mat-icon
      svgIcon="app-icon"
      class="app-icon"
      style="margin-left: 16px"></mat-icon>
    <span class="white-color">Free web tools to make work super easy</span>
  </div>
  <div class="flex-display flex-row-flow copyright flex-align-center">
    <mat-icon class="white-color" style="margin-right: 8px">copyright</mat-icon>
    <span class="white-color">webtoolseasy incorporated 2022-2023</span>
  </div>
</div>
