.footer-container {
  background: #3f51b5;
  height: 64px;
}

.white-color {
  color: white;
}

@media screen and (min-width: 735px) {
  .copyright {
    margin-right: 16px;
  }
  .icon-div {
    flex-grow: 1;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 735px) {
  .footer-container {
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon-div {
    margin-bottom: 10px;
  }
  .copyright {
    justify-content: flex-start;
  }
}
