<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <div class="header-div">
    <mat-toolbar color="primary">
      <span class="header-font">The Tools Directory</span>
      <!-- <span class="spacer"></span>
      <button mat-icon-button aria-label="">
        <mat-icon svgIcon="github"></mat-icon>
      </button> -->
    </mat-toolbar>
  </div>

  <!-- app container -->
  <div class="flex-full-height app-background">
    <!-- applications container -->
    <div id="apps-container" class="apps-container pointer-cursor">
      <div
        class="application"
        *ngFor="let application of appsConfig"
        (click)="navigateByAppId(application.applicationId)"
      >
        <mat-card>
          <span class="header-font bold-text">{{
            application.displayText
          }}</span>
        </mat-card>
      </div>
    </div>
  </div>
</div>
