.file-drop-area {
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumbnail-container {
  width: 198px;
  height: 244px;
  padding: 5px;
}

.preview-area {
  height: 600px;
}

@media screen and (max-width: 735px) {
  .preview-area {
    height: 250px;
  }
}
