<div class="flex-display flex-column-flow flex-align-center flex-gap-xlarge">
  <!-- file imput -->
  <input
    #inputFiles
    type="file"
    style="display: none"
    multiple
    (change)="selectFiles($event)"
    [accept]="validImageFormats" />

  <!-- file drop area -->
  <div
    class="flex-display flex-column-flow flex-center flex-align-center border-grey full-width flex-gap-medium file-drop-area"
    (drop)="dropHandler($event)"
    (dragover)="dragOverHandler($event)"
    *ngIf="fileList.length === 0">
    <mat-icon style="transform: scale(2)">collections</mat-icon>
    <span class="header-font" style="font-size: large"
      >Drag & drop images here</span
    >
    <span class="header-font" style="font-size: large">or</span>

    <button
      mat-stroked-button
      color="primary"
      (click)="openFileDialog()"
      matTooltip="select images to compress">
      <mat-icon>file_upload</mat-icon>Browse For Images
    </button>
  </div>

  <!-- select, compress all, download all buttons -->
  <div
    class="flex-display flex-gap-medium"
    *ngIf="fileList.length > 0"
    style="align-self: flex-end">
    <button
      mat-stroked-button
      color="primary"
      (click)="openFileDialog()"
      matTooltip="select images to compress">
      <mat-icon>file_upload</mat-icon>Select More Images
    </button>
    <!-- <button
      mat-stroked-button
      color="primary"
      matTooltip="convert all images"
      (click)="startCompressAll()">
      <mat-icon>play_arrow</mat-icon>Compress All
    </button> -->
  </div>

  <span style="font-size: large" *ngIf="fileList.length > 0"
    >Uploaded Images (Select Image to Compress)</span
  >

  <div
    class="flex-display flex-align-center full-width flex-gap-large auto-scroll"
    *ngIf="fileList.length > 0">
    <div
      class="flex-display flex-column-flow flex-center border-grey shadow-grey thumbnail-container pointer-cursor"
      *ngFor="let imageFile of fileList"
      (click)="selectCurrentFile(imageFile.id)">
      <img
        mat-card-image
        src="{{ imageFile!.dataURI }}"
        alt="selected image for crop" />
      <div
        class="full-width flex-display flex-row-flow flex-center"
        style="overflow: hidden">
        <span>{{ imageFile?.name }}</span>
      </div>
    </div>
  </div>

  <span style="font-size: large" *ngIf="currentFile">Compression Settings</span>

  <!-- compression settings -->
  <div
    class="flex-display flex-center flex-align-center full-width flex-gap-medium"
    *ngIf="currentFile"
    style="flex-wrap: wrap">
    <!-- compression slider -->
    <div class="flex-display flex-align-center flex-gap-medium">
      <span style="margin-right: 5px" class="bold-text"
        >Compression Level:</span
      >
      <mat-slider
        min="10"
        max="80"
        step="1"
        color="primary"
        (input)="onCompressionRateChange($event)">
        <input matSliderThumb [value]="currentFile!.compressionRate!" />
      </mat-slider>
      <span>{{ currentFile!.compressionRate }}%</span>
    </div>

    <!-- file size area -->
    <div
      class="flex-display flex-center flex-align-center flex-gap-medium"
      style="flex-wrap: wrap">
      <div class="flex-display flex-gap-small">
        <span class="bold-text">Original File Size:</span>
        <span>{{ formatBytes(currentFile!.file.size) }}</span>
      </div>

      <div class="flex-display flex-gap-small">
        <span class="bold-text">Max Compressed File Size:</span>
        <span> {{ formatBytes(currentFile!.maxFileSize) }}</span>
      </div>
    </div>

    <div
      class="flex-display flex-gap-small"
      *ngIf="currentFile.inProgress || currentFile.isCompressed">
      <span class="bold-text">Compress Progress:</span>
      <span>{{ currentFile!.compressProgress }} %</span>
    </div>
  </div>

  <div class="flex-display flex-gap-medium" *ngIf="currentFile">
    <button
      mat-stroked-button
      color="primary"
      matTooltip="download image button"
      (click)="downloadImage()"
      *ngIf="currentFile.isCompressed">
      Download Image
    </button>

    <button
      mat-stroked-button
      color="primary"
      matTooltip="compress image button"
      (click)="compressImage()">
      Compress Image
    </button>
  </div>

  <span style="font-size: large" *ngIf="currentFile"
    >Compressed Image Preview</span
  >

  <!-- preview original image div -->
  <div
    class="flex-display flex-center flex-align-center full-width preview-area"
    *ngIf="currentFile && !currentFile.isCompressed">
    <img
      id="orignalImage"
      style="max-width: 100%; max-height: 100%; align-self: flex-start"
      src="{{ currentFile.dataURI }}"
      alt="cropped image" />
  </div>

  <!-- preview compressed image div -->
  <div
    class="flex-display flex-center flex-align-center full-width preview-area"
    *ngIf="currentFile && currentFile.isCompressed">
    <img
      id="compressedImage"
      style="max-width: 100%; max-height: 100%; align-self: flex-start"
      src="{{ currentFile.compressedImageData! }}"
      alt="cropped image" />
  </div>
</div>
