<!-- file imput -->
<input
  #inputFiles
  type="file"
  style="display: none"
  multiple
  (change)="selectFiles($event)"
  [accept]="validImageFormats" />

<!-- file drop area -->
<div
  class="flex-display flex-column-flow flex-center flex-align-center file-drop-area border-grey full-width flex-gap-medium"
  (drop)="dropHandler($event)"
  (dragover)="dragOverHandler($event)"
  *ngIf="fileList.length === 0">
  <mat-icon style="transform: scale(2)">collections</mat-icon>
  <span class="header-font" style="font-size: large"
    >Drag & drop files here</span
  >
  <span class="header-font" style="font-size: large">or</span>

  <button
    mat-stroked-button
    color="primary"
    (click)="openFileDialog()"
    matTooltip="select images to compress">
    <mat-icon>file_upload</mat-icon> Browse for files
  </button>
</div>

<!-- select, compress all, download all buttons -->
<div
  class="flex-display flex-row-flow flex-center full-width flex-gap-medium"
  [ngStyle]="{
    padding: '10px',
    'justify-content': fileList.length > 0 ? 'end' : 'center'
  }"
  *ngIf="fileList.length > 0">
  <button
    mat-stroked-button
    color="primary"
    (click)="openFileDialog()"
    matTooltip="select images to compress">
    <mat-icon>file_upload</mat-icon> Select Files
  </button>
  <button
    mat-stroked-button
    color="primary"
    matTooltip="convert all images"
    (click)="startCompressAll()">
    <mat-icon>play_arrow</mat-icon> Convert All
  </button>
</div>

<!-- list of files -->
<div
  class="flex-display flex-column-flow y-scroll file-drop-area file-list-div full-width border-grey flex-gap-medium"
  *ngIf="fileList.length > 0">
  <mat-card
    *ngFor="let file of fileList"
    style="
      border: 1px solid lightgrey;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
    ">
    <div
      class="flex-display flex-row-flow flex-align-center flex-gap-large"
      style="margin: 10px">
      <!-- file icon and name -->
      <mat-icon
        svgIcon="image-file-icon"
        class="app-icon pointer-cursor"></mat-icon>

      <!-- file name & size div -->
      <div class="flex-display flex-column-flow header-font file-name-div">
        <span class="bold-text">{{ file.name }}</span>
        <span
          *ngIf="file.isCompressed"
          class="bold-text header-font"
          style="color: #ff4081"
          >{{ formatBytes(file.file.size) }} ->
          {{ formatBytes(file.compressedData?.size!) }}</span
        >
        <span
          *ngIf="file.error !== undefined"
          class="bold-text"
          style="color: red"
          >{{ file.error }}</span
        >
      </div>

      <span class="flex-full-height"></span>

      <!-- file icons div -->
      <div
        class="flex-display flex-row-flow flex-align-center flex-center flex-gap-medium">
        <span *ngIf="file.inProgress"
          >Progress: {{ file.compressProgress }} %</span
        >

        <mat-icon
          svgIcon="settings-icon"
          class="pointer-cursor"
          matTooltip="change compression settings"
          (click)="openSettingsDialog(file)"></mat-icon>
        <mat-icon
          svgIcon="play-icon"
          class="pointer-cursor"
          *ngIf="!file.isCompressed"
          (click)="compressImage(file)"
          matTooltip="compress image"></mat-icon>
        <mat-icon
          svgIcon="download-icon"
          class="pointer-cursor"
          *ngIf="file.isCompressed"
          (click)="downloadImage(file)"
          matTooltip="download compressed image"></mat-icon>
        <mat-icon
          class="pointer-cursor"
          *ngIf="file.error"
          color="warn"
          matTooltip="only image files can be compressed"
          style="transform: scale(1.5)"
          >error</mat-icon
        >
      </div>
    </div>
  </mat-card>
</div>
