.image-list-parent {
  width: 80%;
}

@media screen and (max-width: 735px) {
  .image-list-parent {
    width: 90%;
  }
}

.file-list-div {
  max-height: 400px;
  border: 1px solid lightgrey;
  padding: 15px;
  border-radius: 10px;
}

.image-drag-div {
  width: 100%;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

@media screen and (max-width: 735px) {
  .file-list-div {
    max-height: 300px;
  }
}

@media screen and (max-width: 735px) {
  .file-name-div {
    width: 60%;
    overflow-x: hidden;
  }
  .image-drag-div {
    width: 90%;
  }
}
