<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      aria-label="app icon button"
      [replaceUrl]="true"
      routerLink="">
      <mat-icon svgIcon="app-icon" class="app-icon"></mat-icon>
    </button>
    <div
      class="flex-display flex-row-flow flex-align-center flex-full-height app-name">
      <span class="header-font">WebToolsEasy</span>
    </div>
    <button
      mat-icon-button
      aria-label="home icon button"
      [replaceUrl]="true"
      routerLink="/tools">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>

  <!-- app container -->
  <div
    class="flex-full-height flex-display flex-column-flow flex-align-center y-scroll"
    style="padding: 10px">
    <h1 id="heading">Image Compressor</h1>
    <h2 id="heading2">Compress JPEG, PNG images for free</h2>

    <!-- file imput -->
    <input
      #inputFiles
      type="file"
      style="display: none"
      multiple
      (change)="selectFiles($event)" />

    <!-- image compressin parent div -->
    <div
      class="flex-display flex-column-flow flex-align-center image-list-parent"
      (drop)="dropHandler($event)"
      (dragover)="dragOverHandler($event)"
      style="margin-bottom: 10px">
      <div
        class="flex-display flex-column-flow flex-center flex-align-center image-drag-div"
        *ngIf="fileList.length === 0">
        <mat-icon style="transform: scale(2); margin-bottom: 10px"
          >collections</mat-icon
        >
        <span class="header-font" style="margin-bottom: 20px; font-size: large"
          >Drag & drop files here</span
        >
        <span class="header-font" style="margin-bottom: 10px; font-size: large"
          >or</span
        >

        <button
          mat-raised-button
          color="primary"
          (click)="openFileDialog()"
          matTooltip="select images to compress">
          <mat-icon>file_upload</mat-icon> Browse for files
        </button>
      </div>

      <!-- select images button -->
      <div
        class="flex-display flex-row-flow flex-center full-width"
        [ngStyle]="{
          margin: '10px',
          'justify-content': fileList.length > 0 ? 'end' : 'center'
        }"
        *ngIf="fileList.length > 0">
        <button
          mat-raised-button
          color="primary"
          (click)="openFileDialog()"
          style="margin-right: 10px"
          matTooltip="select images to compress">
          <mat-icon>file_upload</mat-icon> Select Images
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="startCompressAll()"
          *ngIf="fileList.length > 0"
          matTooltip="compress all images">
          <mat-icon>play_arrow</mat-icon> Compress All
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="downloadAll()"
          *ngIf="isDownloadAllActive && !isMobile"
          style="margin-left: 10px"
          matTooltip="download all images">
          <mat-icon>file_download</mat-icon> Download Zip
        </button>
      </div>

      <!-- list of image files -->
      <div
        class="full-width flex-display flex-column-flow y-scroll file-list-div"
        *ngIf="fileList.length > 0">
        <mat-card
          *ngFor="let file of fileList"
          style="margin-bottom: 10px; border: 1px solid lightgrey">
          <div
            class="flex-display flex-row-flow flex-align-center"
            style="margin: 15px">
            <mat-icon
              svgIcon="image-file-icon"
              class="app-icon pointer-cursor"></mat-icon>

            <!-- file name & size div -->
            <div
              class="flex-display flex-column-flow header-font file-name-div">
              <span class="bold-text">{{ file.name }}</span>
              <span
                *ngIf="file.isCompressed"
                class="bold-text header-font"
                style="color: #ff4081"
                >{{ formatBytes(file.file.size) }} ->
                {{ formatBytes(file.compressedData?.size!) }}</span
              >
              <span
                *ngIf="file.error !== undefined"
                class="bold-text"
                style="color: red"
                >{{ file.error }}</span
              >
            </div>
            <span class="flex-full-height"></span>

            <!-- file icons div -->
            <div
              class="flex-display flex-row-flow flex-align-center flex-center">
              <span *ngIf="file.inProgress" style="margin-right: 10px"
                >Progress: {{ file.compressProgress }} %</span
              >

              <mat-icon
                svgIcon="settings-icon"
                class="pointer-cursor"
                style="margin-right: 10px"
                *ngIf="file.isValid"
                matTooltip="change compression settings"
                (click)="openSettingsDialog(file)"></mat-icon>
              <mat-icon
                svgIcon="compress-icon"
                class="pointer-cursor"
                style="margin-right: 10px"
                *ngIf="!file.isCompressed && file.isValid"
                (click)="compressImage(file)"
                matTooltip="compress image"></mat-icon>
              <mat-icon
                svgIcon="download-icon"
                class="pointer-cursor"
                *ngIf="file.isCompressed"
                (click)="downloadImage(file)"
                matTooltip="download compressed image"></mat-icon>
              <mat-icon
                class="pointer-cursor"
                *ngIf="!file.isValid"
                color="warn"
                matTooltip="only image files can be compressed"
                style="transform: scale(1.5)"
                >error</mat-icon
              >
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div style="width: 80%" class="flex-display flex-column-flow">
      <h3 style="font-weight: bold">How to use image compressor?</h3>
      <ul>
        <li>
          Drag & drop or select image files ( jpeg, png only ) to compress.
        </li>
        <li>
          All image files will be listed. An error will be shown for invalid
          file types ( files other than jpeg, png ).
        </li>
        <li>
          For compressing images either use compress button corresponding to the
          image file or use compress all button.
        </li>
        <li>
          By default images will be compressed by 20% of their original size.
          Use settings button to override this, choose any compression level and
          apply settings then try compressing again with new settings.
        </li>
        <li>
          Use download button corresponding to an image file to download
          compressed image.
        </li>
        <li>
          Use download zip button to download all compressed images at once.
        </li>
      </ul>
      <h3 style="font-weight: bold">What is image compression?</h3>
      <span style="margin-bottom: 20px"
        >Image compression is a type of data compression applied to digital
        images, to reduce their cost for storage or transmission. Algorithms may
        take advantage of visual perception and the statistical properties of
        image data to provide superior results compared with generic data
        compression methods which are used for other digital data.
        <a
          target="_blank"
          href="https://en.wikipedia.org/wiki/Image_compression"
          >Read more on Wiki</a
        ></span
      >
      <span
        >Only JPEG & PNG image can be compressed as of now. Image compression is
        being done locally in browser only.</span
      >
    </div>

    <!-- tags div -->
    <div
      style="margin: 20px; flex-wrap: wrap"
      class="flex-display flex-row-flow flex-center">
      <p class="tag-class" *ngFor="let tag of tags">
        {{ tag }}
      </p>
    </div>

    <div
      class="flex-display flex-row-flow flex-center flex-align-center"
      style="margin-bottom: 10px">
      <span style="margin-right: 10px; font-style: italic">Follow -</span>
      <a
        href="https://www.linkedin.com/company/webtoolseasy/"
        target="_blank"
        style="margin-right: 20px">
        <mat-icon svgIcon="linkedin-icon"></mat-icon
      ></a>
      <a
        href="https://www.facebook.com/people/Webtoolseasy/100088911459047/"
        target="_blank">
        <mat-icon svgIcon="facebook-icon"></mat-icon
      ></a>
    </div>
  </div>
</div>
