<div class="flex-display flex-column-flow flex-align-center flex-gap-medium">
  <!-- file input -->
  <input
    #inputFiles
    type="file"
    style="display: none"
    (change)="selectFiles($event)" />

  <div
    class="flex-display flex-column-flow flex-align-center text-area-container full-width flex-gap-medium">
    <div
      class="flex-display flex-row-flow full-width"
      style="justify-content: space-around">
      <span class="div-label">Original Data</span>
      <span class="div-label">Modified Data</span>
    </div>
    <ngx-monaco-diff-editor
      *ngIf="platformMetaDataService.isPlatformBrowser"
      #diffEdior
      [options]="editorOptions"
      [modifiedModel]="modifiedModel"
      [originalModel]="originalModel"
      class="full-width border-grey"
      style="height: 100%"></ngx-monaco-diff-editor>

    <!-- import file buttons -->
    <div
      class="flex-display flex-row-flow full-width"
      style="justify-content: space-around">
      <button
        mat-stroked-button
        aria-label="switch_text_button"
        color="primary"
        (click)="openFileDialog('original')">
        <mat-icon>file_upload</mat-icon>Original Text
      </button>
      <button
        mat-stroked-button
        aria-label="switch_text_button"
        color="primary"
        (click)="openFileDialog('modified')">
        <mat-icon>file_upload</mat-icon>Modified Text
      </button>
    </div>
  </div>
</div>
