<div class="flex-display flex-column-flow flex-align-center flex-gap-medium">
  <!-- file input -->
  <input
    #inputFiles
    type="file"
    style="display: none"
    multiple
    (change)="selectFiles($event)"
    [accept]="validVideoFormats" />

  <!-- file drop area -->
  <div
    class="flex-display flex-column-flow flex-center flex-align-center file-drop-area file-area-width flex-gap-medium full-width"
    (drop)="dropHandler($event)"
    (dragover)="dragOverHandler($event)"
    *ngIf="fileDisplayList.length === 0 && isSupported">
    <mat-icon style="transform: scale(2)">collections</mat-icon>
    <span class="header-font" style="font-size: large"
      >Drag & drop files here</span
    >
    <span class="header-font" style="font-size: large">or</span>

    <button
      mat-stroked-button
      color="primary"
      (click)="openFileDialog()"
      matTooltip="select video to convert">
      <mat-icon>file_upload</mat-icon> Browse for files
    </button>
  </div>

  <div *ngIf="!isSupported">
    <span style="color: red; font-style: italic" class="bold"
      >Video converter currently is not supported on host platfrom. We're
      working on it, thank you for showing interest.</span
    >
  </div>

  <!-- select, compress all, download all buttons -->
  <div
    class="flex-display flex-row-flow flex-center full-width flex-gap-medium"
    [ngStyle]="{
      padding: '10px',
      'justify-content': fileDisplayList.length > 0 ? 'end' : 'center'
    }"
    *ngIf="fileDisplayList.length > 0">
    <button
      mat-stroked-button
      color="accent"
      (click)="openFileDialog()"
      matTooltip="select videos to convert">
      <mat-icon>file_upload</mat-icon> Select Files
    </button>
    <button
      mat-stroked-button
      color="accent"
      matTooltip="convert all videos"
      (click)="convertAllVideos()">
      <mat-icon>play_arrow</mat-icon> Convert All
    </button>
  </div>

  <!-- list of files -->
  <div
    class="flex-display flex-column-flow y-scroll file-drop-area file-area-width file-list-div flex-gap-medium full-width"
    *ngIf="fileDisplayList.length > 0">
    <mat-card
      *ngFor="let file of fileDisplayList"
      style="
        border: 1px solid lightgrey;
        margin-left: 10px;
        margin-right: 10px;
      ">
      <div
        class="flex-display flex-row-flow flex-align-center flex-gap-large"
        style="margin: 10px">
        <mat-icon
          svgIcon="video-convert-icon"
          class="app-icon pointer-cursor"
          style="margin-left: 10px"></mat-icon>

        <!-- file name & size div -->
        <div class="flex-display flex-column-flow header-font file-name-div">
          <span class="bold-text">{{ file.file.name }}</span>
          <span class="bold-text header-font" style="color: #3f51b5">{{
            formatBytes(file.file.size)
          }}</span>
          <span
            *ngIf="file.error !== undefined"
            class="bold-text"
            style="color: red"
            >{{ file.error }}</span
          >
          <span
            *ngIf="file.conversionErrors.get(file.targetFormat)"
            class="bold-text"
            style="color: red"
            >{{ file.conversionErrors.get(file.targetFormat) }}</span
          >
          <span
            *ngIf="isMobile && file.inProgress && file.convertProgress > 0"
            class="bold-text"
            >Progress: {{ file.convertProgress }}%</span
          >
        </div>

        <span class="flex-full-height"></span>

        <!-- file icons div -->
        <div
          class="flex-display flex-row-flow flex-align-center flex-center flex-gap-medium">
          <!-- file is queued spinner -->
          <mat-spinner
            *ngIf="file.inProgress && file.convertProgress === 0"
            diameter="32"></mat-spinner>
          <span
            *ngIf="!isMobile && file.inProgress && file.convertProgress > 0"
            class="bold-text"
            >Progress: {{ file.convertProgress }}%</span
          >

          <mat-spinner
            diameter="32"
            *ngIf="file.inProgress && file.convertProgress > 0"
            mode="determinate"
            value="{{ file.convertProgress }}"></mat-spinner>

          <mat-form-field
            appearance="outline"
            color="primary"
            style="margin-bottom: -1.25em"
            *ngIf="!file.inProgress && !isMobile">
            <mat-label>Select format</mat-label>
            <mat-select
              disableRipple
              [value]="file.targetFormat"
              (valueChange)="changeTargetFormat(file.id, $event)">
              <mat-option
                [value]="option.formatId"
                *ngFor="let option of file.supportedFormats"
                >{{ option.displayName }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-icon
            svgIcon="settings-icon"
            class="pointer-cursor"
            *ngIf="isMobile && !file.inProgress"
            matTooltip="change conversion settings"
            (click)="openSettings(file)"></mat-icon>
          <mat-icon
            svgIcon="play-icon"
            class="pointer-cursor"
            *ngIf="
              !file.inProgress && !file.convertedFileData.has(file.targetFormat)
            "
            (click)="convertVideoFile(file)"
            matTooltip="convert video file"></mat-icon>
          <mat-icon
            svgIcon="download-icon"
            class="pointer-cursor"
            *ngIf="file.convertedFileData.has(file.targetFormat)"
            (click)="downloadVideo(file)"
            matTooltip="download converted video"></mat-icon>
          <mat-icon
            class="pointer-cursor"
            *ngIf="file.error"
            color="warn"
            matTooltip="only limited video formats can be converted"
            >error</mat-icon
          >
        </div>
      </div>
    </mat-card>
  </div>
</div>
