.file-drop-area {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.file-area-width {
  padding-top: 30px;
  padding-bottom: 30px;
}

.file-list-div {
  max-height: 400px;
}

@media screen and (max-width: 735px) {
  .file-list-div {
    max-height: 300px;
  }
  .file-name-div {
    width: 60%;
    overflow-x: hidden;
  }
}
