.file-drop-area {
  padding-top: 30px;
  padding-bottom: 30px;
}

.div-border {
  border-radius: 10px;
}

.base64-data {
  flex-direction: column;
}

.copy-button {
  margin-right: 10px;
}

.data-heading {
  border-bottom: 1px solid lightgrey;
  background: whitesmoke;
}
