#heading1 {
  margin: 5px;
  font-family: monospace, 'Courier New', Courier;
  font-size: xxx-large;
  font-weight: bold;
}

#heading2 {
  margin: 10px;
  font-size: large;
}

@media screen and (max-width: 735px) {
  #heading1 {
    font-size: x-large;
  }
}
