.icon-div {
  height: 300px;
}

.brand-icon {
  transform: scale(10);
}

#subheading {
  font-family: monospace, 'Courier New', Courier;
}

@media screen and (max-width: 735px) {
  .icon-div {
    height: 150px;
  }
  .brand-icon {
    transform: scale(5);
  }
  #subheading {
    font-size: larger;
  }
  .top-div {
    justify-content: center;
  }
}
