<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="app icon button"
    [replaceUrl]="true"
    routerLink="">
    <mat-icon svgIcon="app-icon" class="app-icon"></mat-icon>
  </button>
  <div
    class="flex-display flex-row-flow flex-align-center flex-full-height app-name">
    <span class="header-font">WebToolsEasy</span>
  </div>
  <button
    mat-icon-button
    aria-label="home icon button"
    [replaceUrl]="true"
    routerLink="/tools">
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="facebook icon button"
    (click)="
      navigateSocialLink(
        'https://www.facebook.com/people/Webtoolseasy/100088911459047/'
      )
    ">
    <mat-icon svgIcon="facebook-icon"></mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="linkedin icon button"
    (click)="
      navigateSocialLink('https://www.linkedin.com/company/webtoolseasy/')
    ">
    <mat-icon svgIcon="linkedin-icon"></mat-icon>
  </button>
</mat-toolbar>
