.apps-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.application {
  border-radius: 10px;
  margin: 10px;
}

.app-card {
  margin: 15px;
}

#heading {
  margin: 20px;
  font-family: monospace, 'Courier New', Courier;
  font-size: xxx-large;
  font-weight: bold;
}

@media screen and (min-width: 735px) {
  .application {
    width: 20%;
  }
}

@media screen and (max-width: 735px) {
  #heading {
    font-size: x-large;
  }
  .app-card {
    flex-direction: row;
  }
  .app-card mat-icon {
    margin-right: 20px;
  }
  .application {
    width: 100%;
  }
  .base-app-container {
    overflow-y: scroll;
  }
}
