.apps-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.base-app-container {
  padding: 10px;
}

.application {
  border-radius: 10px;
  margin: 10px;
}

.app-card {
  margin: 15px;
}

@media screen and (min-width: 735px) {
  .application {
    width: 20%;
  }
}

@media screen and (max-width: 735px) {
  .app-card {
    flex-direction: row;
    padding-left: 25%;
    justify-content: flex-start;
  }
  .app-card mat-icon {
    margin-right: 20px;
  }
  .application {
    width: 100%;
  }
  .main-div {
    overflow-y: scroll;
  }
}
