.heading-font {
  font-size: xx-large;
}

@media screen and (max-width: 735px) {
  .heading-font {
    font-size: large;
  }
}

@media screen and (max-width: 735px) {
  .token-area-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 735px) {
  .encoded-token-field {
    margin-right: 30px;
  }
}

@media screen and (max-width: 735px) {
  .encoded-token-field {
    margin-bottom: 20px;
  }
}

.token-parent-div {
  width: 30%;
  height: 30em;
}

@media screen and (max-width: 735px) {
  .token-parent-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
}

.div-label {
  font-size: x-large;
}

@media screen and (max-width: 735px) {
  .div-label {
    font-size: large;
  }
}

.token-area-class {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow-wrap: break-word;
}

@media screen and (min-width: 735px) {
  .token-area-class {
    font-size: large;
  }
}

@media screen and (max-width: 735px) {
  .token-area-class {
    font-size: larger;
  }
}
