.icon-div {
  height: 300px;
}

.parent-div {
  flex-flow: row;
}

.icon-div mat-icon {
  transform: scale(10);
}

.app-name {
  font-size: xxx-large;
}

.parent-view-div {
  width: 50%;
}

@media screen and (max-width: 735px) {
  .icon-div {
    height: 150px;
  }
  .icon-div mat-icon {
    transform: scale(5);
  }
  .app-name {
    font-size: x-large;
  }
  .parent-div {
    flex-flow: column;
  }
  .parent-view-div {
    width: 100%;
    height: 50%;
  }
  .app-links{
    justify-content: start;
  }
}
