.icon-div {
  height: 300px;
}

.parent-div {
  flex-flow: row;
}

.icon-div mat-icon {
  transform: scale(10);
}

.parent-view-div {
  width: 50%;
}

@media screen and (min-width: 735px) { 
  .app-parent-div {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
  }
  .app-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 735px) {
  .icon-div {
    height: 150px;
  }
  .icon-div mat-icon {
    transform: scale(5);
  }
  .parent-div {
    flex-flow: column;
  }
  .parent-view-div {
    width: 100%;
    height: 50%;
  }
  .app-links{
    justify-content: start;
  }
}
