<div
  class="full-height flex-display flex-column-flow y-scroll top-div"
  style="gap: 20px">
  <!-- application branding -->
  <div class="flex-display flex-column-flow flex-align-center flex-center">
    <div
      class="flex-display flex-column-flow flex-center flex-align-center full-width icon-div">
      <mat-icon svgIcon="app-icon"></mat-icon>
    </div>
    <h1
      style="
        font-family: monospace, 'Courier New', Courier;
        font-size: xx-large;
        font-weight: bold;
      ">
      WebToolsEasy
    </h1>
    <h2 id="subheading">Free web tools to make work super easy</h2>
    <button
      mat-stroked-button
      color="primary"
      matTooltip="explore web tools button"
      [replaceUrl]="true"
      routerLink="/tools"
      style="width: 200px">
      Explore Web Tools
    </button>
  </div>

  <div
    class="flex-display flex-column-flow flex-center flex-align-center"
    style="gap: 20px">
    <span>FOLLOW US</span>
    <div class="flex-display flex-row-flow" style="gap: 20px">
      <a href="https://www.linkedin.com/company/webtoolseasy/" target="_blank">
        <mat-icon
          svgIcon="share-linkedin"
          style="transform: scale(1.5)"></mat-icon
      ></a>
      <a
        href="https://www.facebook.com/people/Webtoolseasy/100088911459047/"
        target="_blank">
        <mat-icon svgIcon="share-fb" style="transform: scale(1.5)"></mat-icon
      ></a>
      <a href="https://twitter.com/webtoolseasy" target="_blank">
        <mat-icon
          svgIcon="share-twitter"
          style="transform: scale(1.5)"></mat-icon
      ></a>
    </div>
  </div>

  <div class="flex-display flex-column-flow flex-align-center app-links">
    <h3 style="font-size: large">Top Web Tools</h3>
    <div class="app-list">
      <div
        class="flex-display flex-row-flow flex-align-center app-parent-div shadow-grey"
        *ngFor="let appConfig of appsConfig">
        <mat-icon
          svgIcon="{{ appConfig.iconName }}"
          style="margin: 15px; transform: scale(1.5)"></mat-icon
        ><a [replaceUrl]="true" routerLink="{{ appConfig.navigateUrl }}">{{
          appConfig.displayText
        }}</a>
      </div>
    </div>
  </div>
</div>
