<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <div class="header-div">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="app icon button"
        [replaceUrl]="true"
        routerLink="/tools">
        <mat-icon svgIcon="app-icon" class="app-icon"></mat-icon>
      </button>
      <span class="header-font flex-full-height">WebToolsEasy</span>
      <button
        mat-icon-button
        aria-label="home icon button"
        [replaceUrl]="true"
        routerLink="/tools">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <!-- app container -->
  <div class="flex-display flex-column-flow flex-align-center">
    <h1
      style="
        margin: 20px;
        font-family: monospace, 'Courier New', Courier;
        font-size: x-large;
        font-weight: bold;
      ">
      Decode JWT Online
    </h1>

    <div
      class="flex-display flex-row-flow flex-center flex-align-center token-area-container full-width"
      style="margin-bottom: 10px">
      <div
        class="flex-display flex-column-flow encoded-token-field token-parent-div">
        <div class="flex-display flex-row-flow flex-align-center">
          <span
            class="header-font div-label"
            style="margin-bottom: 5px; margin-right: 5px"
            >Encoded Token</span
          >
          <span>(Paste Token Here)</span>
        </div>
        <div
          #encodedDiv
          class="token-area-class encoded-token-field y-scroll full-height full-width"
          contentEditable="true"
          (input)="encodedInputChange($event)"
          (paste)="onTokenPaste($event)"
          style="color: indigo">
          <span #encodedValue></span>
        </div>

        <div
          class="flex-display flex-row-flow"
          *ngIf="!isTokenValid"
          style="margin-top: 10px">
          <mat-icon color="warn" style="transform: scale(2); margin-right: 15px"
            >error</mat-icon
          >
          <span class="header-font" style="color: red">token is invalid</span>
        </div>
      </div>
      <div class="flex-display flex-column-flow token-parent-div">
        <span class="header-font div-label" style="margin-bottom: 5px"
          >Decoded Token</span
        >
        <div
          class="token-area-class y-scroll full-height full-width"
          contenteditable="true"
          style="color: deeppink">
          <pre>{{ decodedToken }}</pre>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      (click)="copyDecodedToken()"
      color="primary"
      style="margin-bottom: 10px">
      <mat-icon>content_copy</mat-icon> Copy Decoded Token
    </button>

    <div
      class="flex-display flex-row-flow flex-center"
      style="margin-left: 10px; margin-right: 10px">
      <span class="bold-text" style="margin-right: 5px">NOTE:</span>
      <div class="flex-display flex-column-flow">
        <span> 1. Token is being decoded using HS256 Algorithm.</span>
        <span>
          2. Token is being decoded in browser only. No server is
          involved.</span
        >
      </div>
    </div>

    <!-- tags div -->
    <div
      style="margin: 20px; flex-wrap: wrap"
      class="flex-display flex-row-flow flex-center">
      <h5
        *ngFor="let tag of tags"
        style="
          margin: 5px;
          background: #e0e0e0;
          border-radius: 16px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
        ">
        {{ tag }}
      </h5>
    </div>
  </div>
</div>
