.div-label {
  font-size: large;
}

.text-area-div {
  width: 47%;
  // height: 35em;
  font-size: larger;
  min-height: 30em;
}

.text-content-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.text-area-container {
  justify-content: space-around;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.copy-button {
  justify-content: flex-end;
}

@media screen and (max-width: 735px) {
  .text-area-div {
    // height: 10em;
    width: 80%;
    min-height: 10em;
  }
  .text1-area-margin {
    margin-bottom: 20px;
  }
  .text-area-container {
    flex-direction: column;
  }
  .text-content-div {
    font-size: larger;
  }
  .copy-button {
    justify-content: center;
  }
}
