.file-drop-area {
  padding: 30px;
}

.div-border {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.file-area-width {
  width: 95%;
}

.base64-data {
  margin-top: 20px;
  flex-direction: column;
}

.copy-button {
  margin-right: 10px;
}

.data-heading {
  border-bottom: 1px solid lightgrey;
  background: whitesmoke;
}

@media screen and (max-width: 735px) {
  .file-area-width {
    width: 85%;
  }
}
