.file-drop-area {
  padding: 30px;
}

.div-border {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.file-area-width {
  width: 95%;
}

.base64-data {
  margin-top: 20px;
  flex-direction: row;
}

.data-div {
  padding: 16px;
  border-radius: 5px;
  min-height: 100px;
  overflow-wrap: anywhere;
}

@media screen and (min-width: 735px) {
  .data-div {
    margin-right: 10px;
  }
}

@media screen and (max-width: 735px) {
  .data-div {
    margin-bottom: 10px;
  }
  .base64-data {
    flex-direction: column;
  }
  .file-area-width {
    width: 85%;
  }
}
