<div class="flex-display flex-column-flow flex-align-center flex-gap-large">
  <div class="flex-display flex-center flex-align-center flex-gap-medium">
    <span class="cron-expression">{{ cronExpression }}</span>
    <button mat-stroked-button (click)="copyCronExpression()" color="accent">
      <mat-icon>content_copy</mat-icon>
      Copy
    </button>
  </div>

  <cron-editor
    #cronEditor
    *ngIf="platformMetaDataService.isPlatformBrowser"
    [formControl]="cronForm"
    [options]="cronOptions"
    class="border-grey cron-editor"></cron-editor>

  <mat-form-field
    appearance="outline"
    color="primary"
    style="margin-bottom: -1.25em">
    <mat-label>Cron Flavor</mat-label>
    <mat-select
      disableRipple
      value="standard"
      (valueChange)="changeCronFlavor($event)">
      <mat-option value="quartz">Quartz</mat-option>
      <mat-option value="standard">Standard</mat-option>
    </mat-select>
  </mat-form-field>
</div>
