.cron-editor {
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
}

.cron-expression {
  font-size: xx-large;
}

@media screen and (max-width: 735px) {
  .cron-expression {
    font-size: larger;
  }
}
