<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <div
    class="full-width flex-display flex-column-flow flex-full-height auto-scroll">
    <!-- app container -->
    <div
      class="flex-display flex-column-flow flex-align-center base-app-container flex-gap-large flex-full-height">
      <!--web tool headings-->
      <app-tool-heading></app-tool-heading>

      <!-- share buttons -->
      <app-share-buttons class="full-width"></app-share-buttons>

      <div class="full-width">
        <!-- apps container -->
        <router-outlet (activate)="onApplicationLoad($event)"></router-outlet>
      </div>

      <!-- related tools -->
      <app-related-tools
        class="full-width"
        *ngIf="
          appContextService.applicationConfig?.relatedTools
        "></app-related-tools>

      <!-- description -->
      <app-description
        class="full-width"
        *ngIf="appContextService.descriptionData"></app-description>

      <!-- tags div -->
      <app-tags
        *ngIf="
          appContextService.applicationConfig?.tags &&
          (appContextService.applicationConfig?.tags)!.length > 0
        "></app-tags>

      <!-- follow buttons -->
      <app-follow-buttons></app-follow-buttons>
    </div>
    <app-footer></app-footer>
  </div>
</div>
