<div class="flex-display flex-column-flow flex-align-center flex-gap-medium">
  <div
    class="flex-display flex-row-flow flex-align-center full-width text-area-container">
    <!-- Text 1 div -->
    <div class="flex-display flex-column-flow text-area-div flex-gap-medium">
      <span class="div-label">XML</span>

      <div class="full-height full-width">
        <!-- unformatted code editor -->
        <ngx-monaco-editor
          *ngIf="platformMetaDataService.isPlatformBrowser"
          style="height: 100%"
          [options]="xmlEditorOptions"
          (ngModelChange)="onRawCodeChange($event)"
          [(ngModel)]="rawCode"></ngx-monaco-editor>
      </div>
    </div>

    <!-- Text 2 div -->
    <div class="flex-display flex-column-flow text-area-div flex-gap-medium">
      <span class="div-label">JSON</span>
      <div class="full-height full-width">
        <!-- formatted code editor -->
        <ngx-monaco-editor
          *ngIf="platformMetaDataService.isPlatformBrowser"
          style="height: 100%"
          [options]="jsonEditorOptions"
          [(ngModel)]="formattedCode"></ngx-monaco-editor>
      </div>
    </div>
  </div>

  <section class="flex-display parser-options">
    <mat-checkbox
      (change)="generatorOptionChange($event, 'ignoreAttributes')"
      [checked]="parserOptions.ignoreAttributes"
      >Ignore Attributes</mat-checkbox
    >
    <mat-checkbox
      (change)="generatorOptionChange($event, 'ignoreDeclaration')"
      [checked]="parserOptions.ignoreDeclaration"
      >Ignore Declaration</mat-checkbox
    >
  </section>

  <button
    mat-stroked-button
    (click)="copyFormattedCode()"
    color="primary"
    style="align-self: flex-end">
    <mat-icon>content_copy</mat-icon>Copy JSON
  </button>
</div>
