.uuid-container {
  padding: 10px;
  border-radius: 10px;
}

#heading {
  margin: 10px;
  font-family: monospace, 'Courier New', Courier;
  font-size: xxx-large;
  font-weight: bold;
}

#heading2 {
  font-weight: bold;
  font-size: x-large;
}

#heading3 {
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.tag-class {
  margin: 5px;
  background: #e0e0e0;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.uuid-class {
  font-size: x-large;
}

.app-container-div {
  flex-flow: row;
}

@media screen and (min-width: 735px) {
  .uuid-container {
    margin-right: 10px;
  }
  .uuid-app {
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 45%;
    height: 350px;
  }
}

@media screen and (max-width: 735px) {
  .uid-div {
    flex-direction: column;
  }
  .uuid-container {
    margin-bottom: 10px;
  }
  .uuid-class {
    font-size: large;
  }
  .app-container-div {
    flex-flow: column;
  }
  #heading {
    font-size: xx-large;
  }
}
