.uuid-container {
  // border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (min-width: 735px) {
  .uuid-container {
    margin-right: 10px;
  }
}

@media screen and (max-width: 735px) {
    .uuid-container {
      margin-bottom: 10px;
    }
  }

.uuid-font {
  font-size: xx-large;
}

@media screen and (max-width: 735px) {
  .uuid-font {
    font-size: large;
  }
}

@media screen and (max-width: 735px) {
  .uid-div {
    flex-direction: column;
  }
}
