<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <div
    class="y-scroll no-x-scroll flex-full-height flex-display flex-column-flow">
    <div
      class="base-app-container flex-display flex-column-flow flex-full-height">
      <!--web tool headings-->
      <app-tool-heading></app-tool-heading>

      <!-- version 4 app container -->
      <div class="flex-display flex-column-flow flex-align-center uuid-app">
        <h2 id="heading2">Version 4 UUID Generator</h2>
        <!-- generate uuid -->
        <div
          class="flex-display flex-row-flow flex-center flex-align-center uid-div"
          style="margin-bottom: 20px">
          <div
            class="uuid-container flex-display flex-column-flow flex-center flex-align-center">
            <span class="uuid-class" style="color: #ff4081">{{ uuidV4 }}</span>
          </div>
          <button
            mat-raised-button
            (click)="copyGeneratedId('V4')"
            color="primary">
            <mat-icon>content_copy</mat-icon> Copy
          </button>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center"
          style="margin-bottom: 20px">
          <button
            mat-raised-button
            color="primary"
            style="margin-bottom: 20px"
            (click)="generateUUID('V4')">
            <mat-icon>repeat</mat-icon>
            Generate Again
          </button>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center"
          style="margin-bottom: 10px">
          <span style="margin-bottom: 15px; font-size: large" class="bold-text"
            >Bulk Version 4 UUID Generator</span
          >
          <mat-form-field appearance="outline">
            <mat-label>Enter UUIDs Count</mat-label>
            <input
              #bulkV4Input
              type="number"
              matInput
              placeholder="Max 1000"
              value="5"
              min="0"
              max="1000" />
            <button
              mat-raised-button
              matTextSuffix=""
              aria-label="Clear"
              (click)="generateBulkUUID('V4')">
              Generate
            </button>
          </mat-form-field>
          <span *ngIf="bulkV4Error" style="color: red"
            >*Max allowed value is 1000</span
          >
          <a href="#" (click)="downloadUUIDs($event, 'V4')"
            >Download to a file</a
          >
        </div>

        <div
          class="flex-display flex-column-flow flex-center flex-align-center bulk-uuids y-scroll"
          style="max-height: 200px"
          *ngIf="v4Ids.length > 0">
          <span *ngFor="let uuid of v4Ids"> {{ uuid }} </span>
        </div>
      </div>

      <!-- version 1 app container -->
      <div class="flex-display flex-column-flow flex-align-center uuid-app">
        <h2 id="heading2">Version 1 UUID Generator</h2>
        <!-- generate uuid -->
        <div
          class="flex-display flex-row-flow flex-center flex-align-center uid-div"
          style="margin-bottom: 20px">
          <div
            class="uuid-container flex-display flex-column-flow flex-center flex-align-center">
            <span class="uuid-class" style="color: #ff4081">{{ uuidV1 }}</span>
          </div>
          <button
            mat-raised-button
            (click)="copyGeneratedId('V1')"
            color="primary">
            <mat-icon>content_copy</mat-icon> Copy
          </button>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center"
          style="margin-bottom: 20px">
          <button
            mat-raised-button
            color="primary"
            style="margin-bottom: 20px"
            (click)="generateUUID('V1')">
            <mat-icon>repeat</mat-icon>
            Generate Again
          </button>
        </div>

        <div
          class="flex-display flex-column-flow flex-align-center"
          style="margin-bottom: 10px">
          <span style="margin-bottom: 15px; font-size: large" class="bold-text"
            >Bulk Version 1 UUID Generator</span
          >
          <mat-form-field appearance="outline">
            <mat-label>Enter UUIDs Count</mat-label>
            <input
              #bulkV1Input
              type="number"
              matInput
              placeholder="Max 1000"
              value="5"
              min="0"
              max="1000" />
            <button
              mat-raised-button
              matTextSuffix=""
              aria-label="Clear"
              (click)="generateBulkUUID('V1')">
              Generate
            </button>
          </mat-form-field>
          <span *ngIf="bulkV1Error" style="color: red"
            >*Max allowed value is 1000</span
          >
          <a href="#" (click)="downloadUUIDs($event, 'V1')"
            >Download to a file</a
          >
        </div>

        <div
          class="flex-display flex-column-flow flex-center flex-align-center bulk-uuids y-scroll"
          style="max-height: 200px"
          *ngIf="v1Ids.length > 0">
          <span *ngFor="let uuid of v1Ids"> {{ uuid }} </span>
        </div>
      </div>

      <!-- description -->
      <app-description class="full-width"></app-description>

      <!-- tags div -->
      <app-tags></app-tags>
    </div>
    <app-footer></app-footer>
  </div>
</div>
