<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <div class="full-width y-scroll flex-display flex-column-flow">
    <!-- app container -->
    <div
      class="flex-display flex-column-flow flex-align-center base-app-container">
      <!--web tool headings-->
      <app-tool-heading></app-tool-heading>

      <!-- share buttons -->
      <app-share-buttons class="full-width"></app-share-buttons>

      <div
        class="flex-display flex-column-flow full-width"
        style="min-height: 200px; max-height: 200px">
        <div class="flex-display flex-row-flow">
          <span class="div-label" style="margin-bottom: 5px; margin-right: 5px"
            >Base64 to File</span
          >
          <span>(Paste Base64 Data URI Here)</span>
        </div>
        <div
          class="y-scroll full-height div-border"
          style="padding: 10px; color: indigo"
          (click)="onEncodedDivClick()">
          <span
            #text1AreaContent
            contenteditable="true"
            class="full-height full-width"
            (paste)="onDataPaste($event)"></span>
        </div>
      </div>

      <button
        mat-stroked-button
        color="primary"
        style="margin-top: 20px"
        (click)="decodeBase64()">
        Decode Base64 to File
      </button>

      <a
        mat-button
        style="margin-top: 20px"
        *ngIf="decodeFileData.name !== null"
        color="accent"
        (click)="downloadDecodedFile()"
        >{{ decodeFileData.name }}</a
      >

      <!-- related tools -->
      <app-related-tools class="full-width"></app-related-tools>

      <!-- description -->
      <app-description class="full-width"></app-description>

      <!-- tags div -->
      <app-tags></app-tags>
    </div>
    <app-footer></app-footer>
  </div>
</div>
