<!-- password generator container -->
<div
  class="flex-display flex-column-flow flex-align-center flex-gap-large uuid-app border-grey">
  <h2 id="heading2">Your Random Secure Password</h2>
  <!-- generate password -->
  <div class="flex-display flex-center flex-align-center button-controls">
    <div class="flex-display flex-row-flow flex-align-center flex-gap-medium">
      <span class="uuid-class">{{
        passwordVisibility ? password : getEncryptedPassword(password)
      }}</span>
      <mat-icon
        *ngIf="passwordVisibility"
        (click)="togglePassVisibility()"
        color="primary"
        >visibility</mat-icon
      >
      <mat-icon
        *ngIf="!passwordVisibility"
        (click)="togglePassVisibility()"
        color="primary"
        >visibility_off</mat-icon
      >
    </div>
  </div>

  <div
    class="flex-display flex-row-flow flex-align-center flex-center button-controls">
    <button
      mat-stroked-button
      (click)="copyGeneratedPassword()"
      color="primary"
      class="copy-button">
      <mat-icon>content_copy</mat-icon> Copy Password
    </button>

    <button mat-stroked-button color="primary" (click)="generatePassword()">
      <mat-icon>repeat</mat-icon>
      Generate Password Again
    </button>
  </div>

  <div
    class="flex-display flex-column-flow flex-align-center flex-center flex-gap-xlarge">
    <div style="font-size: medium; font-weight: 700">Generator Options</div>
    <div
      class="flex-display flex-row-flow flex-align-center flex-center button-controls flex-gap-medium">
      <mat-form-field appearance="outline">
        <mat-label>Password Length</mat-label>
        <input
          #passwordLengthInput
          type="number"
          matInput
          placeholder="Max 30"
          value="12"
          min="5"
          max="30"
          (change)="handlePasswordLengthChange($event)" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Excluded Characters</mat-label>
        <input
          type="string"
          matInput
          placeholder="Enter characters to exclude"
          [value]="options.exclude"
          (change)="handleExcludedCharsChange($event)" />
      </mat-form-field>

      <section class="flex-display button-controls">
        <mat-checkbox
          (change)="generatorOptionChange($event, 'numbers')"
          [checked]="options.numbers"
          >Numbers</mat-checkbox
        >
        <mat-checkbox
          (change)="generatorOptionChange($event, 'symbols')"
          [checked]="options.symbols"
          >Symbols</mat-checkbox
        >
        <mat-checkbox
          (change)="generatorOptionChange($event, 'lowercase')"
          [checked]="options.lowercase"
          >Lowercase</mat-checkbox
        >
        <mat-checkbox
          (change)="generatorOptionChange($event, 'uppercase')"
          [checked]="options.uppercase"
          >Uppercase</mat-checkbox
        >
      </section>
    </div>
  </div>

  <div class="flex-display flex-column-flow flex-align-center flex-gap-large">
    <span style="font-size: large" class="bold-text"
      >Bulk Password Generator</span
    >
    <mat-form-field appearance="outline">
      <mat-label>Enter Password Count</mat-label>
      <input
        #bulkPasswordInput
        type="number"
        matInput
        placeholder="Max 1000"
        value="5"
        min="5"
        max="1000" />
      <button
        mat-raised-button
        matTextSuffix=""
        aria-label="Clear"
        (click)="generateBulkPasswords()">
        Generate
      </button>
    </mat-form-field>
    <span *ngIf="bulkPasswordError" style="color: red"
      >*Max allowed value is 1000</span
    >
    <a href="#" (click)="downloadPasswords($event)">Download to a file</a>
  </div>

  <div
    class="flex-display flex-column-flow flex-center flex-align-center bulk-uuids y-scroll border-grey"
    style="max-height: 200px"
    *ngIf="passwordList.length > 0">
    <span *ngFor="let password of passwordList">
      {{ getEncryptedPassword(password) }}
    </span>
  </div>
</div>
