.uuid-container {
  padding: 10px;
  border-radius: 10px;
}

#heading3 {
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.uuid-class {
  font-size: xx-large;
  color: #ff4081;
}

.uuid-app {
  padding: 15px;
  border-radius: 10px;
}

.bulk-uuids {
  padding: 15px;
  border-radius: 10px;
}

.button-controls {
  flex-direction: row;
}

@media screen and (min-width: 735px) {
  .copy-button {
    margin-right: 10px;
  }
}

@media screen and (max-width: 735px) {
  .uuid-class {
    font-size: larger;
  }
  .button-controls {
    flex-direction: column;
  }
  .copy-button {
    margin-bottom: 10px;
  }
}
