@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-full-height {
  flex-grow: 1;
}

.base-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.base-flex-gap {
  gap: 10px;
}

.inner-flex-gap {
  gap: 5px;
}

.no-vr-scroll {
  overflow-y: hidden;
}

.no-hz-scroll {
  overflow-x: hidden;
}

.hz-scroll {
  overflow-x: scroll;
}

.vr-scroll {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row-display {
  display: flex;
  flex-direction: row;
}

.column-display {
  display: flex;
  flex-direction: column;
}

.flex-hz-center {
  justify-content: center;
}

.flex-vr-center {
  align-items: center;
}

.base-border {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}
