<mat-toolbar color="primary">
  <button mat-icon-button aria-label="app icon button" routerLink="">
    <mat-icon
      *ngIf="platformMetaDataService.isPlatformBrowser"
      svgIcon="app-icon"
      class="app-icon"></mat-icon>
  </button>
  <div
    class="flex-display flex-row-flow flex-align-center flex-full-height app-name">
    <span class="header-font pointer-cursor" routerLink="">WebToolsEasy</span>
  </div>
  <button mat-icon-button aria-label="home icon button" routerLink="">
    <mat-icon
      *ngIf="platformMetaDataService.isPlatformBrowser"
      svgIcon="home-icon"
      class="app-icon"></mat-icon>
  </button>
</mat-toolbar>
