<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <div class="header-div">
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Home Button" (click)="navigateByAppId('home')">
        <mat-icon>home</mat-icon>
      </button>
      <span class="header-font">UUID Generator</span>
    </mat-toolbar>
  </div>

  <!-- tags div -->
  <div style="margin: 10px;">
    <mat-chip-list aria-label="tags">
      <mat-chip>#uuid</mat-chip>
      <mat-chip>#unique identifier</mat-chip>
      <mat-chip>#uuid generator</mat-chip>
      <mat-chip>#programming</mat-chip>
      <mat-chip>#development</mat-chip>
    </mat-chip-list></div>

  <!-- app container -->
  <div class="flex-full-height app-background">
  </div>
</div>
