<div
  class="flex-display flex-column-flow flex-center flex-align-center flex-gap-medium">
  <span>FOLLOW US</span>
  <div class="flex-display flex-row-flow" style="gap: 20px">
    <a href="https://www.linkedin.com/company/webtoolseasy/" target="_blank">
      <mat-icon svgIcon="share-linkedin"></mat-icon
    ></a>
    <a
      href="https://www.facebook.com/people/Webtoolseasy/100088911459047/"
      target="_blank">
      <mat-icon svgIcon="share-fb"></mat-icon
    ></a>
    <a href="https://twitter.com/webtoolseasy" target="_blank">
      <mat-icon svgIcon="share-twitter"></mat-icon
    ></a>
  </div>
</div>
