<div
  class="flex-display flex-column-flow flex-align-center full-width flex-gap-large">
  <span style="align-self: flex-start; font-size: large"
    >Text (Paste Text Here)</span
  >
  <form class="full-width full-height">
    <mat-form-field appearance="outline" class="full-width full-height">
      <textarea
        matInput
        placeholder="Enter text here to count..."
        style="height: 200px"
        (input)="onTextChange($event)"></textarea>
    </mat-form-field>
  </form>
  <div class="flex-display flex-center flex-gap-large" style="flex-wrap: wrap">
    <div class="flex-display flex-gap-medium">
      <span style="font-size: large; font-weight: 700">WORDS:</span>
      <span style="font-size: large">{{ wordCount }}</span>
    </div>

    <div class="flex-display flex-gap-medium">
      <span style="font-size: large; font-weight: 700">CHARACTERS:</span>
      <span style="font-size: large">{{ characterCount }}</span>
    </div>

    <div class="flex-display flex-gap-medium">
      <span style="font-size: large; font-weight: 700">SENTENCES:</span>
      <span style="font-size: large">{{ sentenceCount }}</span>
    </div>
  </div>
</div>
