.div-label {
  font-size: large;
}

.div-border {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.base64-data {
  margin-top: 20px;
  flex-direction: column;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
