<div class="flex-display flex-column-flow flex-gap-medium">
  <mat-card
    *ngFor="let descriptionRecord of appContextService.descrptionData"
    class="description-block">
    <mat-card-header class="description-heading">
      <mat-card-title
        ><h3 id="header">
          {{ descriptionRecord.heading }}
        </h3></mat-card-title
      >
    </mat-card-header>

    <!-- desciption block content -->
    <mat-card-content style="margin-top: 10px">
      <!-- div for numbered list -->
      <div
        *ngIf="descriptionRecord.listData"
        class="flex-display flex-column-flow">
        <div
          *ngFor="let line of descriptionRecord.listData"
          class="flex-display description-font flex-row-flow flex-gap-small"
          style="overflow-wrap: anywhere">
          <mat-icon aria-hidden="false" aria-label="right pointer icon"
            >chevron_right</mat-icon
          >
          <span> {{ line }}</span>
        </div>
      </div>

      <!-- div for paragraphs -->
      <div
        *ngIf="descriptionRecord.blockData"
        class="flex-display flex-column-flow"
        style="overflow-wrap: anywhere">
        <span
          *ngFor="let block of descriptionRecord.blockData"
          class="description-font">
          {{ block }}
        </span>
      </div>

      <!-- div for paragraphs -->
      <div
        *ngIf="descriptionRecord.links"
        class="flex-display flex-column-flow">
        <div
          *ngFor="let link of descriptionRecord.links"
          class="flex-display flex-row-flow flex-gap-small flex-align-center">
          <mat-icon aria-hidden="false" aria-label="right pointer icon"
            >chevron_right</mat-icon
          >
          <a href="{{ link.url }}">
            {{ link.displayText }}
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
