.description-block {
  border: 1px solid lightgrey;
}

.description-heading {
  border-bottom: 1px solid lightgrey;
  background: whitesmoke;
}

#header {
  font-size: 90%;
  font-weight: 700;
}

.description-font {
  font-size: 16px;
}
