<div class="flex-display flex-column-flow flex-gap-xlarge">
  <div
    class="flex-display flex-column-flow"
    *ngFor="let descriptionRecord of appContextService.descriptionData">
    <h3
      style="font-size: medium; font-weight: 700"
      *ngIf="descriptionRecord.heading">
      {{ descriptionRecord.heading }}
    </h3>

    <!-- div for list data -->
    <div
      *ngIf="descriptionRecord.listData"
      class="flex-display flex-column-flow">
      <div
        *ngFor="let line of descriptionRecord.listData"
        class="flex-display flex-row-flow flex-gap-small"
        style="overflow-wrap: anywhere">
        <div>
          <mat-icon aria-hidden="false" aria-label="right pointer icon"
            >chevron_right</mat-icon
          >
        </div>

        <span class="description-font"> {{ line }}</span>
      </div>
    </div>

    <!-- div for block data -->
    <div
      *ngIf="descriptionRecord.blockData"
      class="flex-display flex-column-flow flex-gap-large"
      style="overflow-wrap: anywhere">
      <span
        *ngFor="let block of descriptionRecord.blockData"
        class="description-font">
        {{ block }}
      </span>
    </div>

    <!-- div for links -->
    <div *ngIf="descriptionRecord.links" class="flex-display flex-column-flow">
      <div
        *ngFor="let link of descriptionRecord.links"
        class="flex-display flex-row-flow flex-gap-small">
        <div>
          <mat-icon aria-hidden="false" aria-label="right pointer icon"
            >chevron_right</mat-icon
          >
        </div>

        <a href="{{ link.url }}">
          {{ link.displayText }}
        </a>
      </div>
    </div>
  </div>
</div>
