.apps-container {
  margin: 10px;
  flex-wrap: wrap;
}

.application {
  margin: 10px;
  width: 20%;
  border: 1px solid lightgrey;
  padding: 15px;
}

@media screen and (max-width: 735px) {
  .application {
    width: 100%;
  }
}
