<!-- applications container -->
<div class="apps-container flex-center">
  <div
    class="application shadow-grey"
    *ngFor="let application of appsConfig"
    (click)="navigateByAppId(application.applicationId)">
    <div
      class="flex-display flex-column-flow flex-center flex-align-center app-card flex-gap-medium pointer-cursor">
      <mat-icon
        svgIcon="{{ application.iconName }}"
        class="app-icon"></mat-icon>
      <a
        [replaceUrl]="true"
        routerLink="{{ application.navigateUrl }}"
        (click)="onAppClick($event)"
        >{{ application.displayText }}</a
      >
    </div>
  </div>
</div>
