<!-- applications container -->
<div class="flex-display flex-center flex-column-flow flex-gap-xlarge">
  <div
    class="flex-display flex-column-flow flex-gap-medium"
    *ngFor="let category of appCategories">
    <span style="font-size: large; align-self: center">{{ category }}</span>
    <div class="apps-container flex-display">
      <div
        class="application shadow-grey flex-display flex-column-flow flex-center flex-align-center pointer-cursor flex-gap-medium"
        *ngFor="let application of applications.get(category)"
        routerLink="{{ application.navigateUrl }}">
        <mat-icon
          *ngIf="platformMetaDataService.isPlatformBrowser"
          svgIcon="{{ application.iconName }}"
          class="app-icon"></mat-icon>
        <a
          routerLink="{{ application.navigateUrl }}"
          (click)="onAppClick($event)"
          style="text-align: center"
          >{{ application.displayText }}</a
        >
      </div>
    </div>
  </div>
</div>
