<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <app-header-toolbar></app-header-toolbar>

  <div class="full-width y-scroll flex-display flex-column-flow">
    <!-- app container -->
    <div
      class="flex-display flex-column-flow flex-align-center base-app-container">
      <!--web tool headings-->
      <app-tool-heading></app-tool-heading>

      <!-- file input -->
      <input
        #inputFiles
        type="file"
        style="display: none"
        multiple
        (change)="selectFiles($event)" />

      <div
        class="flex-display flex-column-flow flex-center flex-align-center file-drop-area file-area-width"
        (drop)="dropHandler($event)"
        (dragover)="dragOverHandler($event)"
        *ngIf="fileList.length === 0">
        <mat-icon style="transform: scale(2); margin-bottom: 10px"
          >collections</mat-icon
        >
        <span class="header-font" style="margin-bottom: 20px; font-size: large"
          >Drag & drop files here</span
        >
        <span class="header-font" style="margin-bottom: 10px; font-size: large"
          >or</span
        >

        <button
          mat-raised-button
          color="primary"
          (click)="openFileDialog()"
          matTooltip="select video to convert">
          <mat-icon>file_upload</mat-icon> Browse for files
        </button>
      </div>

      <!-- select videos button -->
      <div
        class="flex-display flex-row-flow flex-center full-width"
        [ngStyle]="{
          padding: '10px',
          'justify-content': fileList.length > 0 ? 'end' : 'center'
        }"
        *ngIf="fileList.length > 0">
        <button
          mat-raised-button
          color="primary"
          (click)="openFileDialog()"
          style="margin-right: 10px"
          matTooltip="select images to compress">
          <mat-icon>file_upload</mat-icon> Select Files
        </button>
        <button
          mat-raised-button
          color="primary"
          matTooltip="compress all images">
          <mat-icon>play_arrow</mat-icon> Convert All
        </button>
        <button
          mat-raised-button
          color="primary"
          style="margin-left: 10px"
          matTooltip="download all images"
          *ngIf="isDownloadAllActive && !isMobile">
          <mat-icon>file_download</mat-icon> Download Zip
        </button>
      </div>

      <div
        class="flex-display flex-column-flow y-scroll file-drop-area file-area-width file-list-div"
        *ngIf="fileList.length > 0">
        <mat-card
          *ngFor="let file of fileList"
          style="margin-bottom: 10px; border: 1px solid lightgrey">
          <div
            class="flex-display flex-row-flow flex-align-center"
            style="margin: 15px">
            <mat-icon
              svgIcon="video-convert-icon"
              class="app-icon pointer-cursor"
              style="margin-left: 10px"></mat-icon>

            <!-- file name & size div -->
            <div
              class="flex-display flex-column-flow header-font file-name-div">
              <span class="bold-text">{{ file.name }}</span>
              <span class="bold-text header-font" style="color: #3f51b5">{{
                formatBytes(file.file.size)
              }}</span>
              <span
                *ngIf="file.error !== undefined"
                class="bold-text"
                style="color: red"
                >{{ file.error }}</span
              >
            </div>

            <span class="flex-full-height"></span>

            <!-- file icons div -->
            <div
              class="flex-display flex-row-flow flex-align-center flex-center">
              <span
                *ngIf="file.inProgress && file.convertProgress > 0"
                style="margin-right: 10px"
                >Progress: {{ file.convertProgress }} %</span
              >

              <mat-spinner
                style="margin-right: 10px"
                diameter="32"
                *ngIf="file.isValid && !file.isLoaded"></mat-spinner>

              <mat-form-field
                appearance="outline"
                color="primary"
                style="margin-right: 10px; margin-bottom: -1.25em"
                *ngIf="file.isValid">
                <mat-label>Select format</mat-label>
                <mat-select
                  disableRipple
                  value="mp3"
                  (valueChange)="changeTargetFormat(file.id, $event)">
                  <mat-option value="mp3">mp3</mat-option>
                  <mat-option value="mp4">mp4</mat-option>
                  <mat-option value="webm">webm</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-icon
                svgIcon="settings-icon"
                class="pointer-cursor"
                style="margin-right: 10px"
                *ngIf="file.isValid"
                matTooltip="change compression settings"></mat-icon>
              <mat-icon
                svgIcon="play-icon"
                class="pointer-cursor"
                *ngIf="!file.isConverted && file.isValid && file.isLoaded"
                (click)="convertVideoFile(file)"
                matTooltip="convert video file"></mat-icon>
              <mat-icon
                svgIcon="download-icon"
                class="pointer-cursor"
                *ngIf="file.isConverted"
                (click)="downloadVideo(file)"
                matTooltip="download compressed image"></mat-icon>
              <mat-icon
                class="pointer-cursor"
                *ngIf="!file.isValid"
                color="warn"
                matTooltip="only limited video formats can be converted"
                style="transform: scale(1.5)"
                >error</mat-icon
              >
            </div>
          </div>
        </mat-card>
      </div>

      <!-- tags div -->
      <app-tags></app-tags>
    </div>
    <app-footer></app-footer>
  </div>
</div>
