.file-drop-area {
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.file-area-width {
  width: 95%;
}

.file-list-div {
  max-height: 400px;
}

@media screen and (min-width: 735px) {
  .file-area-width {
    width: 95%;
  }
}

@media screen and (max-width: 735px) {
  .file-area-width {
    width: 85%;
  }
  .file-list-div {
    max-height: 300px;
  }
  .file-name-div {
    width: 60%;
    overflow-x: hidden;
  }
}
