<div
  class="flex-display flex-column-flow flex-align-center full-width flex-gap-large">
  <div
    class="flex-display flex-column-flow flex-center flex-align-center full-width icon-div">
    <mat-icon
      *ngIf="platformMetaDataService.isPlatformBrowser"
      svgIcon="screen-icon"></mat-icon>
  </div>

  <span *ngIf="!isSupported" class="error"
    >screen capturing is not supported by host browser</span
  >

  <section class="flex-display recoder-options" *ngIf="isSupported">
    <mat-checkbox
      (change)="recorderOptionChange($event, 'speaker-audio')"
      [disabled]="includeMicAudio"
      >include speaker audio</mat-checkbox
    >
    <mat-checkbox
      (change)="recorderOptionChange($event, 'mic-audio')"
      [disabled]="includeScreenAudio"
      >include mic audio</mat-checkbox
    >
    <mat-checkbox (change)="recorderOptionChange($event, 'camera-video')"
      >include camera video</mat-checkbox
    >
  </section>

  <div class="flex-display flex-row-flow flex-gap-medium">
    <button
      mat-stroked-button
      aria-label="start recording button"
      *ngIf="!isRecording && !isProcessingStream && isSupported"
      color="primary"
      (click)="startRecording()">
      <mat-icon>play_arrow</mat-icon> Start Recording
    </button>
    <button
      mat-stroked-button
      aria-label="pause recording button"
      *ngIf="isRecording && !isRecPaused"
      color="warn"
      (click)="pauseRecording()">
      <mat-icon>pause</mat-icon> Pause Recording
    </button>
    <button
      mat-stroked-button
      aria-label="resume recording button"
      *ngIf="isRecording && isRecPaused"
      color="accent"
      (click)="resumeRecording()">
      <mat-icon>play_arrow</mat-icon> Resume Recording
    </button>
    <button
      mat-raised-button
      aria-label="stop recording button"
      *ngIf="isRecording && !isProcessingStream && isSupported"
      color="warn"
      (click)="stopRecording()">
      <mat-icon>stop</mat-icon> Stop Recording
    </button>
  </div>

  <div
    class="flex-display flex-row-flow flex-align-center"
    *ngIf="isProcessingStream">
    <mat-spinner
      color="primary"
      style="margin-right: 10px"
      diameter="30"></mat-spinner>
    <span class="bold-text">preparing video file to download</span>
  </div>
</div>
