.description-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.description-block {
    border: 1px solid lightgrey;
    margin-bottom: 15px;
}

.description-heading {
    border-bottom: 1px solid lightgrey;
    background: whitesmoke;
}

#header {
    font-size: 90%;
    font-weight: 700;
}

.description-font {
    font-size: 16px;
}