.token-parent-div {
  width: 40%;
  height: 30em;
}

.div-label {
  font-size: x-large;
}

.token-area-class {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow-wrap: break-word;
}

.tag-class {
  margin: 5px;
  background: #e0e0e0;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.base-app-container {
  padding: 10px;
}

.token-area-container {
  justify-content: space-around;
}

#heading {
  margin: 5px;
  font-family: monospace, 'Courier New', Courier;
  font-size: xxx-large;
  font-weight: bold;
}

#heading2 {
  margin: 10px;
  font-size: large;
}

@media screen and (min-width: 735px) {
  .token-area-class {
    font-size: large;
  }
  .encoded-token-field {
    margin-right: 30px;
  }
}

@media screen and (max-width: 735px) {
  .token-area-class {
    font-size: larger;
  }
  .div-label {
    font-size: large;
  }
  .token-parent-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
  .encoded-token-field {
    margin-bottom: 20px;
  }
  .token-area-container {
    flex-direction: column;
  }
  .app-name {
    justify-content: center;
  }
  #heading {
    font-size: x-large;
  }
}
