<div class="full-height flex-display flex-column-flow no-y-scroll">
  <!-- profile header -->
  <div class="header-div">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="app icon button"
        [replaceUrl]="true"
        routerLink="/tools">
        <mat-icon svgIcon="app-icon" class="app-icon"></mat-icon>
      </button>
      <span class="header-font flex-full-height">WebToolsEasy</span>
      <button
        mat-icon-button
        aria-label="home icon button"
        [replaceUrl]="true"
        routerLink="/tools">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <!-- app container -->
  <div class="flex-display flex-column-flow flex-align-center">
    <h1
      style="
        margin: 20px;
        font-family: monospace, 'Courier New', Courier;
        font-size: x-large;
        font-weight: bold;
      ">
      Format CSS Online
    </h1>

    <div
      class="flex-display flex-row-flow flex-center flex-align-center token-area-container full-width"
      style="margin-bottom: 10px">
      <div
        class="flex-display flex-column-flow encoded-token-field token-parent-div">
        <div class="flex-display flex-row-flow flex-align-center">
          <span
            class="header-font div-label"
            style="margin-bottom: 5px; margin-right: 5px"
            >Unformatted CSS</span
          >
          <span>(Paste CSS Here)</span>
        </div>
        <div
          #rawCssDiv
          class="token-area-class encoded-token-field y-scroll full-height full-width"
          contentEditable="true"
          (input)="rawCssChange()"
          (paste)="onCssPaste($event)"
          style="color: indigo">
          <span></span>
        </div>
      </div>
      <div class="flex-display flex-column-flow token-parent-div">
        <span class="header-font div-label" style="margin-bottom: 5px"
          >Formatted CSS</span
        >
        <div
          class="token-area-class y-scroll full-height full-width"
          contenteditable="true"
          style="color: deeppink">
          <pre>{{ formattedCss }}</pre>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      (click)="copyFormattedCss()"
      color="primary"
      style="margin-bottom: 10px">
      <mat-icon>content_copy</mat-icon> Copy Formatted CSS
    </button>

    <div
      class="flex-display flex-row-flow flex-center"
      style="margin-left: 10px; margin-right: 10px">
      <span class="bold-text" style="margin-right: 5px">NOTE:</span>
      <span>
        No server is involved. CSS code formatting is being done in browser
        only</span
      >
    </div>

    <!-- tags div -->
    <div
      style="margin: 20px; flex-wrap: wrap"
      class="flex-display flex-row-flow flex-center">
      <h5
        *ngFor="let tag of tags"
        style="
          margin: 5px;
          background: #e0e0e0;
          border-radius: 16px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
        ">
        {{ tag }}
      </h5>
    </div>
  </div>
</div>
