/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

// #3f51b5

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-display {
  display: flex;
}

.flex-column-flow {
  flex-flow: column;
}

.flex-row-flow {
  flex-flow: row;
}

.flex-full-height {
  flex-grow: 1;
}

.header-div {
  height: 60px;
}

.spacer {
  flex: 1 1 auto;
}

.app-background {
  background-color: #eaeded;
}

.no-y-scroll {
  overflow-y: hidden;
}

.no-x-scroll {
  overflow-x: hidden;
}

.pointer-cursor {
  cursor: pointer;
}

.header-font {
  font-family: monospace, "Courier New", Courier;
}

.bold-text {
  font-weight: bold;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
