/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.base-app-container {
  padding: 10px;
}

.heading-font {
  font-size: xx-large;
}

.border-grey {
  border: 1px solid lightgrey;
}

@media screen and (max-width: 735px) {
  .heading-font {
    font-size: large;
  }
}

.shadow-grey {
  box-shadow: 3px 5px lightgrey;
}

.app-icon {
  transform: scale(1.5);
}

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-display {
  display: flex;
}

.flex-column-flow {
  flex-flow: column;
}

.flex-row-flow {
  flex-flow: row;
}

.flex-full-height {
  flex-grow: 1;
}

.flex-gap-small {
  gap: 5px;
}

.flex-gap-medium {
  gap: 10px;
}

.flex-gap-large {
  gap: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.spacer {
  flex: 1 1 auto;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-y-scroll {
  overflow-y: hidden;
}

.no-x-scroll {
  overflow-x: hidden;
}

.pointer-cursor {
  cursor: pointer;
}

.header-font {
  font-family: monospace, 'Courier New', Courier;
}

.bold-text {
  font-weight: bold;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
