<div
  class="flex-display flex-column-flow full-width flex-align-center"
  style="gap: 10px">
  <div>
    <span class="heading-font">Like it? Share it!</span>
  </div>

  <div class="flex-display flex-row-flow" style="gap: 5px">
    <button
      mat-icon-button
      aria-label="share linkedin button"
      shareButton="linkedin">
      <mat-icon svgIcon="share-linkedin" class="share-icon"></mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="share facebook button"
      shareButton="facebook">
      <mat-icon svgIcon="share-fb" class="share-icon"></mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="share twitter button"
      shareButton="twitter">
      <mat-icon svgIcon="share-twitter" class="share-icon"></mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="share copy link button"
      shareButton="copy">
      <mat-icon svgIcon="share-copy" class="share-icon"></mat-icon>
    </button>
  </div>
</div>
