.div-label {
  font-size: large;
}

.text-area-div {
  width: 49%;
  height: 30em;
  font-size: larger;
}

.text-content-div {
  border-radius: 10px;
}

.text-area-container {
  justify-content: space-around;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.copy-button {
  justify-content: flex-end;
}

ngx-json-viewer section {
  overflow-y: scroll;
}

@media screen and (max-width: 735px) {
  .text-area-div {
    height: 10em;
  }
  .text-area-container {
    flex-direction: column;
  }
  .copy-button {
    justify-content: center;
  }
}
