.div-label {
  font-size: large;
}

.text-area-div {
  width: 47%;
  height: 30em;
}

.text-content-div {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.text-area-container {
  justify-content: space-around;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.diff-parent-div {
  max-width: 80%;
}

@media screen and (min-width: 735px) {
  .color-coding {
    flex-direction: row;
  }
  .color-code {
    margin-right: 10px;
  }
}

@media screen and (max-width: 735px) {
  .text-area-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
  .text1-area-margin {
    margin-bottom: 20px;
  }
  .text-area-container {
    flex-direction: column;
  }
  .text-content-div {
    font-size: larger;
  }
  .diff-parent-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
  .color-coding {
    flex-direction: column;
  }
}
