.base-app-container {
  padding: 10px;
}

#heading {
  margin: 5px;
  font-family: monospace, 'Courier New', Courier;
  font-size: xxx-large;
  font-weight: bold;
}

#heading2 {
  margin: 10px;
  font-size: large;
}

.tag-class {
  margin: 5px;
  background: #e0e0e0;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media screen and (min-width: 735px) {
}

@media screen and (max-width: 735px) {
  .app-name {
    justify-content: center;
  }
  #heading {
    font-size: x-large;
  }
}
