.div-label {
  font-size: large;
}

.base-app-container {
  padding: 10px;
}

.token-parent-div {
  width: 47%;
  height: 30em;
}

.token-area-class {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.token-area-container {
  justify-content: space-around;
}

.diff-parent-div {
  max-width: 80%;
}

.description {
  margin-top: 20px;
  width: 90%;
}

@media screen and (min-width: 735px) {
  .color-coding {
    flex-direction: row;
  }
  .color-code {
    margin-right: 10px;
  }
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

@media screen and (max-width: 735px) {
  .token-parent-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
  .encoded-token-field {
    margin-bottom: 20px;
  }
  .token-area-container {
    flex-direction: column;
  }
  .token-area-class {
    font-size: larger;
  }
  .diff-parent-div {
    height: 10em;
    width: 80%;
    font-size: larger;
  }
  .description {
    width: 100%;
  }
  .color-coding {
    flex-direction: column;
  }
}
