.div-label {
  font-size: large;
}

.text-area-div {
  width: 47%;
  height: 30em;
  font-size: larger;
}

.text-area-container {
  justify-content: space-between;
}

.copy-button {
  justify-content: flex-end;
}

@media screen and (max-width: 735px) {
  .text-area-div {
    height: 25em;
    width: 80%;
  }
  .text-area-container {
    flex-direction: column;
    gap: 10px;
  }
  .copy-button {
    justify-content: center;
  }
}
