<div
  class="footer-container full-width flex-display flex-row-flow flex-align-center">
  <div
    class="flex-display flex-row-flow icon-div flex-align-center flex-gap-small">
    <mat-icon
      *ngIf="platformMetaDataService.isPlatformBrowser"
      svgIcon="app-icon"
      class="app-icon"
      style="margin-left: 16px"></mat-icon>
    <span class="white-color">Free web tools to make work super easy</span>
  </div>
  <div class="flex-display flex-row-flow copyright flex-align-center">
    <a
      rel="license"
      href="https://creativecommons.org/licenses/by-nd/4.0/"
      target="_blank"
      class="flex-display"
      ><mat-icon class="white-color" style="margin-right: 8px"
        >copyright</mat-icon
      ></a
    >
    <div
      (click)="openLink('https://creativecommons.org/licenses/by-nd/4.0/')"
      class="pointer-cursor white-color">
      Creative Commons Attribution 4.0 International License
    </div>
  </div>
</div>
